* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.container {
  width: 960px;
  height: 550px;
  margin: 50px auto;
  background-color: #1c2323;
  color: aliceblue;
  position: relative;
}
.verticalLine {
  height: 550px;
  position: absolute;
  top: 0;
  left: 850px;
  background-color: tomato;
  width: 2px;
}
.display-result {
  position: absolute;
  left: 850px;
  bottom: 30px;
  width: 110px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: antiquewhite;
  font-size: 28px;
}
.startBtn {
  position: absolute;
  width: 200px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 28px;
  background-color: chocolate;
  color: white;
  border-radius: 6px;
  top: 260px;
  left: 325px;
  cursor: pointer;
  user-select: none;
}
.line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  color: black;
}
.line-1 {
  top: 0;
}
.line-2 {
  top: 35px;
}
.line-3 {
  top: 70px;
}
.line-4 {
  top: 105px;
}
.line-5 {
  top: 140px;
}
.line-6 {
  top: 175px;
}
.line-7 {
  top: 210px;
}
.line-8 {
  top: 245px;
}
.line-9 {
  top: 280px;
}
.line-10 {
  top: 315px;
}
.line-11 {
  top: 350px;
}
.line-12 {
  top: 385;
}
.line-13 {
  top: 420px;
}
.line-14 {
  top: 455;
}
.line-15 {
  top: 490px;
}
.typingLine {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: chocolate;
}
.main-input {
  background-color: chocolate;
  width: 100%;
  border: none;
  color: white;
  height: 30px;
  font-size: 18px;
  outline: none;
}
span {
  position: absolute;
  background-color: #d1e04a;
  top: 0;
  left: 0;
  padding: 2px 4px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
}
.danger {
  background-color: #d82505;
  color: white;
}
